body   {
       font-size: small; 
       font-family: Verdana, Helvetica, Arial, sans-serif;
       line-height: 1.6em;
}

h1, h2 { 
        color: #007e7e; 
}

h1     { 
       font-size: 150%; 
}

h2     {
       font-size: 130%;
}

p      { 
        color: maroon; 
}

#guarantee {
            line-height: 1.9em;
            font-style: italic;
            color: #444444;
            font-family: Georgia, "Times New Roman", Times, serif;
            border-color: white;
            border-width: 1px;
            border-style: dashed;
            background-color: #a7cece;
            padding: 25px;
            padding-left: 80px;
            margin: 30px;
            margin-right: 250px;
            background-image: url(images/background.gif);
            background-repeat: no-repeat;
            background-position: top left;
}

p.greentea {
            color: green;
}

p.raspberry {
             color: blue;
}

p.blueberry {
             color: purple;
}

#elixirs {
         border: thin solid #007e7e;
         width: 200px;
         padding: 0 20px 20px 20px; 
         margin-left: 20px;
         text-align: center;
         background-image: url(images/cocktail.gif);
         background-repeat: repeat-x;
         line-height: 1;
         float: right;
}

#elixirs h2 {
            color: black;
}

#elixirs h3 {
            color: #d12c47;
}

#bottom {
        font-size: small;
        text-align: center;
        line-height: normal;
        margin-top: 30px;
}

.cd {
    font-style: italic;
}

.artist {
        font-weight: bold;
}

a:link {
       color: #007e7e;
}

a:visited {
          color: #333333;
}

#elixirs a:link {
       color: #007e7e;
}

#elixirs a:visited {
          color: #333333;
}

#elixirs a:hover {
        background: #f88396;
        color: #0d5353;
}
